chromadb
pypdf
spacy
sentence-transformers
langchain
fastapi
uvicorn
dotenv
openai
langchain-openai
llama-index-core
llama-index-vector-stores-chroma
llama-index-embeddings-openai
langchain-community
pdf2image 
pytesseract 
pix2tex 
pdfplumber 
opencv-python
ultralytics
python-multipart